.footer__part {
  margin-right: 18px;
}

@media (max-width: 768px) {
  .footer__part {
    margin-bottom: 32px;
    margin-right: 0;
  }

  .footer__part:last-of-type {
    margin-bottom: 48px;
  }
}
